#app {
  margin: 10px 5px 10px 5px;
}
.custom-row {
  min-height: 75px;
}
.button {
  width: 200px;
}
.margin-left {
  margin-left: 30px;
}
.custom-p {
  height:75px;
}
.input-normal {
  background-color: #FFFFFF;
  color: #000000;
}

.demo {
  width: 100px;
  height: 100px;
  background-color: gray;
  display: inline-block;
  margin: 10px;
}
.demo-progress {
  padding: 10px 0 0 10px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.teal {
  color: #009688;
}
