#app {
  margin: 10px 5px 10px 5px;
}
.custom-row {
  min-height: 75px;
}
.button {
  width: 200px;
}
.margin-left {
  margin-left: 30px;
}
.custom-p {
  height:75px;
}
.input-normal {
  background-color: #FFFFFF;
  color: #000000;
}
