<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="lib/vuetify.min.css" rel="stylesheet">
  <link href="app.css" rel="stylesheet">
  <script src="lib/vue.js"></script>
  <script src="lib/vuetify.js"></script>
</head>
<body>
  <div id="app">
    <v-app>
      <div
        class="demo"
        @click="attachRed = !attachRed"
        :class="{ red: attachRed }"></div>
      <div
        class="demo"
        @click="attachGreen = !attachGreen"
        :class="{ green: attachGreen }"></div>
      <div
        class="demo"
        @click="attachBlue = !attachBlue"
        :class="{ blue: attachBlue }"></div>
      <div class="demo demo-progress">
          <v-progress-circular
          v-if="attachTeal"
          @click="incrementProgress"
          :size="80"
          :width="15"
          :rotate="360"
          :value="progress"
          color="teal">
          {{ progress }}
        </v-progress-circular>
        <v-progress-circular
          v-if="!attachTeal"
          @click="incrementProgress"
          :size="80"
          :width="15"
          :rotate="360"
          :value="progress">
          {{ progress }}
        </v-progress-circular>
      </div>
    </v-app>
  </div>
  <script src="app.js"></script>
</body>
</html>
