<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'>
  <link rel="stylesheet" href="lib/vuetify.min.css">
  <link rel="stylesheet" href="app.css">
  <script src="lib/vue.js"></script>
  <script src="lib/vuetify.js"></script>
</head>
<body>
  <div id="app">
    <v-app>
      <ul>
        <li v-for="(ingredient, index) in ingredients" :key="ingredient">
          {{ ingredient }} ({{ index }})
        </li>
      </ul>
      <button @click="ingredients.push('spices')">Add New</button>
      <hr />
      <ul>
        <li v-for="person in persons">
          <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
        </li>
      </ul>
      <span v-for="n in 10">{{ n }}</span>
      <hr />
      <template v-for="(ingredient, index) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
      </template>
      <v-layout row>
        <v-flex xs12 sm6 offset-sm3>
          <v-list>
            <v-list-tile avatar v-for="(ingredient, index) in ingredients" :key="ingredient" @click="">
              <v-list-tile-action>
                <v-icon color="pink">kitchen</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ ingredient }} ({{ index }})</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-flex>
      </v-layout>
    </v-app>
  </div>
  <script src="app.js"></script>
</body>
</html>
